*{
  margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

.arriba{
    display: flex;
    flex-direction: row;
}
h1{
  font-size: 60px;  
}

.nota{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.123);
    border-radius: 30px;
    margin-bottom: 20px;
}

.notaPrimero{
    display: flex;
    flex-direction: column;
}

.notaPrimero ul {
    font-size: 25px;
}

img{
  width: 80px;
}